
@import "bootstrap-4.3.1-dist/css/bootstrap.min.css";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import "imports/functions";
@import "imports/variables";
@import "imports/reset";
@import "imports/general";
@import "imports/tables";
@import "imports/forms";
@import "imports/buttons";
@import "imports/icons";
@import "imports/helpers";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/docs";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";

//@import "imports/prism";

.slide-item{
    position: relative;
}
.slide-item img{
    width:100%;
}
.slide-item .title{
    position: absolute;
    left:50px;
    top: 30%;
    z-index: 1;
    color: #fff;
}
.slick-prev{
    z-index: 1;
    left: 25px;
}
.slick-next{
    z-index: 1;
    right: 25px;
}
.featureSection .block-buttons{
    justify-content: flex-start;
}
.feature-service-list{
    margin-top: 30px;
}
.site-logo img{
    width: 150px;
}
.client-wrap{
    img{
        opacity: 0.6;
        transition: all 500ms;
        &:hover{
            opacity: 1;
        }
    }
}
.nav-tabs{
    .nav-link{
        text-decoration: none;
        color: $gray-700;
    }
}